.proudectDisplay{
    display: flex;
    margin: 0px 170px;
    padding-top: 50px ;
}
.LHS{
    display: flex;
    gap: 17px;
}
.proudectImg{
    display: flex;
    flex-direction: column;
    gap: 17px;
}
.proudectImg img{
    border-radius: 8px;
}
.displayImg img{
    min-height: 350px;
    border-radius: 8px;
}
.RHS{
    margin: 0 70px;
    display: flex;
    flex-direction: column;
    gap: 17px
}
.sizes-container {
    display: flex;
    gap: 10px;
}
.sizes-container div{
    width: 40px;
    height: 40px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 5px;
}
